.followFavoriteSpots {
    display: flex;
}

.followFavoriteSpots-text-heading p, .followFavoriteSpots-headtext p,
.followFavoriteSpots-text-title p, .followFavoriteSpots-text-describe p {
    margin: 0;
    padding: 0;
}

.followFavoriteSpots-image-background {
    margin: 0;
    padding: 0;
}

.followFavoriteSpots-gray-btn {
    display: flex;
    color: black;
    flex-direction: row;
    column-gap: 8px;
    background: lightgray;
    border: 0;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.followFavoriteSpots-gradient-btn {
    display: flex;
    flex-direction: row;
    color: black;
    column-gap: 8px;
    background: #00D7E5;
    background: linear-gradient(90deg, rgba(0, 215, 229, 1) 0%, rgba(0, 229, 191, 1) 100%);
    border: 0;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.followFavoriteSpots-buttons a {
    color: black;
}

@media screen and (max-width: 389px) {
    .followFavoriteSpots {
        display: flex;
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        background-repeat: no-repeat;
        /*background-image: url("../../../assets/images/Homepage/phoneBackground.svg");*/
        /*background-repeat: no-repeat;*/
        /*background-size: auto;*/
        /*background-position-x: 100%;*/
        row-gap: 50px;
        margin: 20px;
    }

    .followFavoriteSpots-body {
        display: flex;
        flex-direction: row;
    }

    .followFavoriteSpots-headtext {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .followFavoriteSpots-headtext .followFavoriteSpots-text-head-title p {
        font-size: 16px;
    }

    .followFavoriteSpots-text {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        /*width: 40%;*/
        row-gap: 15px;
        text-align: right;
        /*margin-left: 40px;*/
    }

    .followFavoriteSpots-text .hr {
        width: 100%;
        height: 2px;
        border: 1px solid #000000;
    }

    .followFavoriteSpots-text-title p {
        font-size: 22px;
        width: 240px;
    }

    .followFavoriteSpots-text-describe p {
        font-size: 10px;
        width: 200px;
    }

    .followFavoriteSpots-buttons {
        display: flex;
        font-size: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
        width: 40%;
        margin: 0 auto;
    }

    .followFavoriteSpots-text-heading p {
        font-size: 10px;
    }

    .followFavoriteSpots-gradient-btn, .followFavoriteSpots-gray-btn {
        height: 40px;
        width: 180px;
    }
}

@media screen and (min-width: 390px) and (max-width: 426px) {
    .followFavoriteSpots {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-repeat: no-repeat;
        /*background-image: url("../../../assets/images/Homepage/phoneBackground.svg");*/
        /*background-repeat: no-repeat;*/
        /*background-size: auto;*/
        /*background-position-x: 100%;*/
        row-gap: 50px;
        margin: 20px;
    }

    .followFavoriteSpots-body {
        display: flex;
        flex-direction: row;
    }

    .followFavoriteSpots-headtext {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .followFavoriteSpots-headtext .followFavoriteSpots-text-head-title p {
        font-size: 18px;
    }

    .followFavoriteSpots-text {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        /*width: 40%;*/
        row-gap: 24px;
        text-align: right;
        /*margin-left: 40px;*/
    }

    .followFavoriteSpots-text .hr {
        width: 100%;
        height: 2px;
        border: 1px solid #000000;
    }

    .followFavoriteSpots-text-title p {
        font-size: 22px;
        width: 300px;
    }

    .followFavoriteSpots-text-describe p {
        font-size: 10px;
        width: 250px;
    }

    .followFavoriteSpots-buttons {
        display: flex;
        font-size: 11px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
        width: 40%;
        margin: 0 auto;
    }

    .followFavoriteSpots-text-heading p {
        font-size: 12px;
    }

    .followFavoriteSpots-gradient-btn, .followFavoriteSpots-gray-btn {
        height: 40px;
        width: 180px;
    }
}

@media screen and (min-width: 427px) and (max-width: 767px) {
    .followFavoriteSpots {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-repeat: no-repeat;
        /*background-image: url("../../../assets/images/Homepage/phoneBackground.svg");*/
        /*background-repeat: no-repeat;*/
        /*background-size: auto;*/
        /*background-position-x: 100%;*/
        row-gap: 50px;
        margin: 20px;
    }

    .followFavoriteSpots-body {
        display: flex;
        flex-direction: row;
    }

    .followFavoriteSpots-headtext {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .followFavoriteSpots-headtext .followFavoriteSpots-text-head-title p {
        font-size: 18px;
    }

    .followFavoriteSpots-text {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        /*width: 40%;*/
        row-gap: 24px;
        text-align: right;
        /*margin-left: 40px;*/
    }

    .followFavoriteSpots-text .hr {
        width: 100%;
        height: 2px;
        border: 1px solid #000000;
    }

    .followFavoriteSpots-text-title p {
        font-size: 22px;
        width: 300px;
    }

    .followFavoriteSpots-text-describe p {
        font-size: 10px;
        width: 250px;
    }

    .followFavoriteSpots-buttons {
        display: flex;
        font-size: 11px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
        width: 40%;
        margin: 0 auto;
    }

    .followFavoriteSpots-text-heading p {
        font-size: 12px;
    }

    .followFavoriteSpots-gradient-btn, .followFavoriteSpots-gray-btn {
        height: 40px;
        width: 180px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .followFavoriteSpots {
        display: flex;
        height: 600px;
        flex-direction: column;
        justify-content: flex-start;
        background-repeat: no-repeat;
        background-image: url("../../../assets/images/Homepage/phoneBackground.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: 50%;
        row-gap: 50px;
    }

    .followFavoriteSpots-body {
        display: flex;
        flex-direction: row;
    }

    .followFavoriteSpots-headtext {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }

    .followFavoriteSpots-headtext .followFavoriteSpots-text-head-title p {
        font-size: 20px;
    }

    .followFavoriteSpots-text {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        width: 40%;
        row-gap: 24px;
        text-align: right;
        margin-left: 40px;
    }

    .followFavoriteSpots-text .hr {
        width: 320px;
        height: 2px;
        border: 1px solid #000000;
    }

    .followFavoriteSpots-text-title p {
        font-size: 22px;
        /*width: 320px;*/
    }

    .followFavoriteSpots-text-describe p {
        font-size: 10px;
        width: 250px;
    }

    .followFavoriteSpots-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
        width: 40%;
        margin: 0 auto;
    }

    .followFavoriteSpots-text-heading p {
        font-size: 12px;
    }

    .followFavoriteSpots-gradient-btn, .followFavoriteSpots-gray-btn {
        height: 60px;
        width: 180px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .followFavoriteSpots {
        display: flex;
        height: 600px;
        flex-direction: column;
        justify-content: flex-start;
        background-repeat: no-repeat;
        background-image: url("../../../assets/images/Homepage/phoneBackground.svg");
        background-repeat: no-repeat;
        background-size: cover;
        row-gap: 50px;
    }

    .followFavoriteSpots-body {
        display: flex;
        flex-direction: row;
    }

    .followFavoriteSpots-headtext {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }

    .followFavoriteSpots-headtext .followFavoriteSpots-text-head-title p {
        font-size: 26px;
    }

    .followFavoriteSpots-text {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        width: 40%;
        row-gap: 24px;
        text-align: right;
        margin-left: 40px;
    }

    .followFavoriteSpots-text .hr {
        width: 400px;
        height: 2px;
        border: 1px solid #000000;
    }

    .followFavoriteSpots-text-title p {
        font-size: 26px;
        width: 350px;
    }

    .followFavoriteSpots-text-describe p {
        font-size: 12px;
        width: 300px;
    }

    .followFavoriteSpots-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
        width: 40%;
        margin: 0 auto;
    }

    .followFavoriteSpots-text-heading p {
        font-size: 13px;
    }

    .followFavoriteSpots-gradient-btn, .followFavoriteSpots-gray-btn {
        height: 60px;
        width: 180px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
    .followFavoriteSpots {
        display: flex;
        height: 660px;
        flex-direction: column;
        justify-content: flex-start;
        background-repeat: no-repeat;
        background-image: url("../../../assets/images/Homepage/phoneBackground.svg");
        background-repeat: no-repeat;
        background-size: cover;
        row-gap: 50px;
    }

    .followFavoriteSpots-body {
        display: flex;
        flex-direction: row;
    }

    .followFavoriteSpots-headtext {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }

    .followFavoriteSpots-headtext .followFavoriteSpots-text-head-title p {
        font-size: 30px;
    }

    .followFavoriteSpots-text {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        width: 40%;
        row-gap: 24px;
        text-align: right;
        margin-left: 80px;
    }

    .followFavoriteSpots-text .hr {
        width: 527px;
        height: 2px;
        border: 1px solid #000000;
    }

    .followFavoriteSpots-text-title p {
        font-size: 30px;
        width: 427px;
    }

    .followFavoriteSpots-text-describe p {
        font-size: 15px;
        width: 427px;
    }

    .followFavoriteSpots-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
        width: 40%;
        margin: 0 auto;
    }

    .followFavoriteSpots-gradient-btn, .followFavoriteSpots-gray-btn {
        height: 60px;
        width: 226px;
    }
}

@media screen and (min-width: 1440px) {
    .followFavoriteSpots {
        display: flex;
        height: 760px;
        flex-direction: column;
        justify-content: flex-start;
        background-repeat: no-repeat;
        background-image: url("../../../assets/images/Homepage/phoneBackground.svg");
        background-repeat: no-repeat;
        background-size: cover;
        row-gap: 117px;
    }

    .followFavoriteSpots-body {
        display: flex;
        flex-direction: row;
    }

    .followFavoriteSpots-headtext {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }

    .followFavoriteSpots-headtext .followFavoriteSpots-text-head-title p {
        font-size: 30px;
    }

    .followFavoriteSpots-text {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        width: 40%;
        row-gap: 24px;
        text-align: right;
        margin-left: 80px;
    }

    .followFavoriteSpots-text .hr {
        width: 527px;
        height: 2px;
        border: 1px solid #000000;
    }

    .followFavoriteSpots-text-title p {
        font-size: 30px;
        width: 427px;
    }

    .followFavoriteSpots-text-describe p {
        font-size: 15px;
        width: 427px;
    }

    .followFavoriteSpots-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
        width: 40%;
        margin: 0 auto;
    }

    .followFavoriteSpots-gradient-btn, .followFavoriteSpots-gray-btn {
        height: 60px;
        width: 226px;
    }
}